.header {
    margin-bottom: 2rem;
}

.headpar {
    margin-bottom: 1rem;
}

.divider {
    margin-top:2rem;
    margin-bottom:2rem;
    width: 30%;
    border-color: rgba(255, 255, 255, 0.39);
}

.jobTitle {
    color: rgba(255, 255, 255, 0.856);
    font-weight: 200;
    margin-top:.2rem;
}

.projects {
    display:flex;
    flex-direction: column;
}

.project_list {
    display:flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.project_list p {
    margin: 0;
}

.project_list a {
    text-decoration:underline;
}

.project_list a:hover {
    cursor: pointer;
}