.header {
    margin-bottom: 2rem;
}

.headpar {
    margin-bottom: 1rem;
}

.divider {
    margin-top:2rem;
    margin-bottom:2rem;
    width: 30%;
    border-color: rgba(255, 255, 255, 0.39);
}

.jobTitle {
    color: rgba(255, 255, 255, 0.856);
    font-weight: 200;
    margin-top:.2rem;
}