.home {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.biocard {
  display:flex;
  flex-direction: column;
  padding: 1.2rem 2rem;
  width: 50%;
  position: sticky;
  max-height: 100vh;
  padding-top: 6rem;
  top:0;
}

.biocard h1 {
  font-weight: 500;
}

.biocard h2 {
  font-weight: 500;
}

.content {
  width: 50%;
  padding-top: 8rem;
}

.bio-div {
  margin: 0 2rem;
  text-align: center;
}

.bio-div h1 {
  margin: 1rem 0 ;
}
