.main {
  width: 70%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.bio-div {
}

.bio-div h1 {
  margin-bottom:2.5rem;
}

.bio-div p {
  text-align: justify;
}

.content {
  width: 100%;
  
}

.photo-section {
  display:grid;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: end;
  padding-top: 2rem;
  padding-bottom:2rem;
}

.photo-container {
  /* display:flex;
  justify-content:center; */
}

.frontpg-img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  object-fit:cover;
}

.item-a {

}

.item-b {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

}

.item-c {

}

.item-d {
  grid-column: 1 / 2;
  grid-row: 2 / 4 ;
}

.item-e {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item-f {
  grid-column: 3 /4;
  grid-row: 2 / 4 ;
}

/* .photo-section img {
  max-width: fit-content;
  max-height:fit-content;
} */

/* Make this button responsive to Light/Dark shift */
.socials-btn {
  border-radius: 50%;
  padding: .5rem;
  border:none;
  background-color: black;
  position:fixed;
  right: 2%;
  top: 2%;
}

.socials-btn:hover {
  background-color:rgb(69, 69, 69);
  transition: all .2s;
}

@media (width <= 1100px) {
  /* … */
  .main {
    width: 90%;
  }

  
}

