@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.home {
  display:flex;
  flex-direction: row;
  padding: 0 6rem;
  max-width: 1500px;
  margin: 0 auto;
}

.biocard {
  display:flex;
  flex-direction: column;
  padding: 1.2rem 2rem;
  width: 50%;
  font-family: Montserrat;
  font-weight: 300;
  position: sticky;
  max-height: 100vh;
  padding-top: 6rem;
  top:0;
}

.biocard h1 {
  font-weight: 500;
}

.biocard h2 {
  font-weight: 500;
}

.content {
  width: 50%;
  padding-top: 8rem;
}

.nav-list {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.352);
  font-weight: 600;
}

.nav-list > li {
  padding: 1rem 0;
}

.nav-list li:hover {
  /* font-size: 1.1rem; */
  cursor: pointer;
  color:white;
}

.bio-div h1 {
  padding: 1rem 0;
  font-size: 3rem;
}

.bio-div h2 {
  padding: 1rem 0;
  font-size: 1.5rem;
}