.photo-sec {
    height: auto;
}

.photo-grid {
    /* display:grid; */
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    /* flex:25%; */
    flex:50%;
    flex-wrap:wrap;
    padding: 0 4px;
    position:relative;
    height:fit-content;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.photo {
  width: 100%;
  height: auto;
  object-fit:contain;
}

.photo:hover {
    cursor:pointer;
    transition:all 1s;
    transform:scale(1.1);
    position:relative;
    z-index:100;
    -webkit-filter: brightness(90%);
}